{% extends "layout.html" %}


{% block body %}

<h3>About</h3>

<div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">I want to be an artificial intelligence specialist.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Well Django is awesome!</p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="http://www.furkankarakus.com" target="_blank">My WebSite!</a>
      </div>
    </div>



<hr>

{% endblock body %}